body {
  padding-top: 10px;
}

#intro {
  background-image: url("/imagens/pexels-pixabay-161449.png");
  background-size: 100%;
  background-attachment: fixed;
  background-position-y: -80px;
  padding-left: 70px;
  padding-top: 140px;
  padding-bottom: 140px;
}

#botoes {

}

#vermelho {
  background-image: url("/imagens/banner-tiozinho.gif");
  background-size: cover;
  height: 300px;
  padding: 20px;
}

@media screen and (max-width: 992px) {
    #vermelho {
        background-position: right;
      }
}
